<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>saveuser</servlet-name>
        <servlet-class>saveuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jgh</servlet-name>
        <servlet-class>jgh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bouquet1</servlet-name>
        <servlet-class>Bouquet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a</servlet-name>
        <servlet-class>a.a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>asd</servlet-name>
        <servlet-class>asd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntryServlet</servlet-name>
        <servlet-class>EntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>QueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrat1</servlet-name>
        <servlet-class>Registrat1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck1</servlet-name>
        <servlet-class>LoginCheck1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrat2</servlet-name>
        <servlet-class>Registrat2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrat</servlet-name>
        <servlet-class>Registrat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Venue</servlet-name>
        <servlet-class>Venue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>caterer</servlet-name>
        <servlet-class>caterer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>flowerist</servlet-name>
        <servlet-class>flowerist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>planner</servlet-name>
        <servlet-class>planner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Final</servlet-name>
        <servlet-class>Final</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Photographer</servlet-name>
        <servlet-class>Photographer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>saveuser</servlet-name>
        <url-pattern>/saveuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jgh</servlet-name>
        <url-pattern>/jgh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bouquet1</servlet-name>
        <url-pattern>/Bouquet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a</servlet-name>
        <url-pattern>/a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>asd</servlet-name>
        <url-pattern>/asd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntryServlet</servlet-name>
        <url-pattern>/EntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/QueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrat1</servlet-name>
        <url-pattern>/Registrat1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheck1</servlet-name>
        <url-pattern>/LoginCheck1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrat2</servlet-name>
        <url-pattern>/Registrat2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrat</servlet-name>
        <url-pattern>/Registrat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Venue</servlet-name>
        <url-pattern>/Venue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>caterer</servlet-name>
        <url-pattern>/caterer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flowerist</servlet-name>
        <url-pattern>/flowerist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>planner</servlet-name>
        <url-pattern>/planner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Final</servlet-name>
        <url-pattern>/Final</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Photographer</servlet-name>
        <url-pattern>/Photographer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
